#container {
    display: flex;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;

}

button.hole {
    flex: 1 0 33%;
    height: auto;
    border: 2px solid black;
    background-color: bisque;
}

#countDown p {
    font-size: 50px;
}

#startBtn {
    width: 200px;
    height: 50px;
}